.remember {
  text-align: left;
  margin-bottom: 12px;
}

.login-form .ui.message {
  padding: 0.8em 1.5em;
}

.profile-img-main{
	padding: 10px;
	margin: auto;
}

.header-row {
    padding: 0 !important;
    position: fixed;
    border-bottom: 1px solid rgba(66, 66, 66, 0.15);
}

.main-outer {
	margin: 0 !important;
}

.container-fixed {
	position: fixed !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 3.46rem;
    padding: 0 !important;
}

.icon-custom {
	color: white;
	/*margin: 0 10px*/
}

.header-icon {
	margin: 0.5rem 0 0 0 !important;
}

.header-icon > a {
	padding: 0 !important;
	margin: 0 10px !important;
}




/*  Side Menu Styling  */

ul {
	list-style: none;
	padding: 0 !important;
	min-width: 156px;
	background: #00b5ad;
	margin: 0;
	color: #fff;
}

.side-menu {
	padding: 0 !important;
	min-width: 156px;
	background: #00b5ad;
	margin: 0;
	color: #fff;
}

.ui.divider {
	margin: 4px 0;
}

li>i {
	margin-left: 5px !important;
}

.side-menu li {
	padding: .8rem .5rem;
	border-left: 4px solid #00b5ad;
	position: relative;
}

.side-menu li ul {
	display: none;
    position: absolute;
    left: 150px;
    top: 0px;
}
.menu-arrow {
	float: right;
}

li:hover > ul {
	display: block;
}

.side-menu li span {
	padding-left: 5px;
}

.side-menu li:hover, .active {
	background: #02a099 !important;
	border-left: 4px solid #02847e !important;
}





